.button-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;    
}

.curriculo-text{
    font-size: 1.6em;
    text-align: center;
}

.button-container h1{
    font-weight: 1.4em;
}