.project-container {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  user-select: none;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  user-select: none;
}

.text-container h1 {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.text-container h2 {
  font-size: 1.2em;
  text-align: center;
}

.project-image {
  max-width: 250px;
  max-height: 250px;
}

.comic {
  width: 50%;
  resize: both;
  align-self: center;
  margin: 3vh 0;
  user-select: none;
}

.link{
  height: 13px;
  padding-right: 4px;
}
