.app{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    cursor: pointer;
    user-select: none;
  }
  
  .app-icon{
    width: 3em;
  }
  
  p{
    text-decoration: underline;
  }
  