form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.1em;
  font-weight: bold;
}

label{
 margin-inline-start: 2vw;
}

form h1{
    font-weight: bold;
    text-align: center;
    margin-top: 1vh;
    font-size: 2em;
}
