form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.1em;
  font-weight: bold;
}

label{
 margin-inline-start: 2vw;
}

form h1{
    font-weight: bold;
    text-align: center;
    margin-top: 2vh;
    font-size: 1.6em;
}

.social-container{
  display: flex;
  flex-direction: column;
  gap: 4vh;
  width: 100%;
}

.row-container{
  display: flex;
  gap: 3vw;
  padding-inline-start: 5vw;
  align-items: center;
  cursor: pointer;
  font-size: 1.8em;
}

.social-image{
  width: 50px;
}
