:root {
  --teal: #008080;
}
main {
  width: 100%;
  height: 100vh;
  overflow: hidden;

}

body{
  background-image: url('./assets/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

