
body{
  background-image: url('./assets/background.jpg');
  background-position: center;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  
}

.toolbar-container{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.apps-container{
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-height: 95vh;
  gap: 3vh;
  padding: 3vh;
}

.subcontainer{
  display: flex;
  align-items: center;
  gap: .5vw;
}

.open-apps-container{
  position: absolute;
  z-index: 10;
  top: 0;
  margin: 10vh;
}

.column{
  width: 30px;
  background-color: #919191;
  user-select: none;
}

.column h1{
  transform: rotate(-90deg);
  font-weight: bold;
  color: #cccccc;
  position: absolute;
  bottom: 30%;
  left: -15%;
}

.column h1 span{
  color: #FFF;
  padding: 5px;
}
