.about-image{
    width: 250px;
    border: double 3px;
  }
  
  .about-text{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about-text h1{
    font-size: 1.8em;
  }
  
  .about-text h2{
    font-size: 1.4em;
  }
