.about-image {
  max-width: 300px;
  border: double 3px;
}

.about-text,
.currently-text {
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 2vh 0vw;
  gap: 10px;
  width: 100%;
}

.currently-text {
  padding: 2vh 1vw;
}

.about-text h1 {
  text-wrap: nowrap;
  font-size: 1.8em;
}

.about-text h2 {
  max-width: 320px;
  align-self: center;
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
}

.currently-text h2 {
  font-weight: bold;
  text-wrap: nowrap;
}

.currently-text li {
  list-style: square;
  margin-inline-start: 2vw;
}

.about-text h3 {
  font-size: 1.2em;
  text-align: left;
  letter-spacing: 3px;
  padding-top: 2vh;
  font-weight: bold;
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    rgb(0, 255, 0),
    rgb(255, 255, 0),
    rgb(255, 181, 44),
    red
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.waviy {
  position: relative;
}
.waviy h3 {
  position: relative;
  animation: waviy 1s infinite;
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}
