.about-image {
  max-width: 400px;
  border: double 3px;
}

.about-text, .currently-text{
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 2vh 0vw;
  gap: 10px;
}

.currently-text{
  padding: 2vh 1vw;
  width: 300px;
}

.about-text h1 {
  text-wrap: nowrap;
  font-size: 1.8em;
}

.about-text h2 {
  max-width: 320px;
  align-self: center;
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
}

.currently-text h2{
    font-weight: bold;
    text-wrap: nowrap;
}

.currently-text li{
    list-style: square;
    margin-inline-start: 2vw;
}


.about-text h3 {
  font-size: 1em;
  text-align: center;
  padding-top: 2vh;
  font-weight: bold;
  background-image: 
    linear-gradient(
      to left, 
        violet, 
        indigo, 
        blue, 
        green, 
        yellow, 
        orange, 
        red
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.jim {
  width: 50px;
  resize: both;
}
